# Byte-compiled / optimized / DLL files
__pycache__/
*__pycache__/
*.py[cod]
*$py.class

# Environment
venv/
.env

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Python packaging
*.egg
*.egg-info/
dist/
build/

# VS Code settings
.vscode/

# Uvicorn / FastAPI reload artifacts
*.db
test.py
.env
